{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div ng-controller="StoreController as store">
    <h1>Hello World!</h1>
    <h2>Work in Progress</h2>
    {% verbatim %}
    <ul class="phone-thumbs">
        <li ng-repeat="gem in store.gems">
            {{gem.name}}
        </li>
    </ul>
    {% endverbatim %}
    <h3>End JS </h3>
    </div>
{% endblock %}