
<div ng-show="characterDetail.characterDetails.code==401" class="list-group-item list-group-item-home">
    <h1 ng-hide="characterDetail.loading">
        Bitte Log dich zuerst ein.
    </h1>
</div>


<div ng-hide="characterDetail.characterDetails" ng-show="characterDetail.characterDetails.code==404" class="list-group-item list-group-item-home">
    <h1 ng-hide="characterDetail.loading">
        Kein Character Gefunden.
    </h1>
    <div ng-show="characterDetail.loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!--Show Character Details-->
<div ng-hide="characterDetail.characterDetails.code" ng-show="characterDetail.characterDetails" class="list-group-item list-group-item-home">
    <div class="row">
        <h1>{{characterDetail.characterDetails.name}}
            <small>by {{ characterDetail.characterDetails.user.name}}</small>
        </h1>
    </div>
    <div class="row">
        <h4>{{characterDetail.characterDetails.occupation}}</h4>
    </div>
    <div class="row">
        <em ng-click="characterDetail.toggleDescription()">{{characterDetail.description}}</em>
        <br/><i ng-show="characterDetail.needsSubString " class="fa color-blue"
                ng-class="characterDetail.short?'fa-chevron-up':'fa-chevron-down'"
                ng-click="characterDetail.toggleDescription()"></i>
    </div>
</div>

<div ng-hide="characterDetail.characterDetails.code" ng-show="characterDetail.characterDetails" class="panel-group" ui-state="myAccordion" ui-default="1">
    <!-- Akkordeon Attribute -->
    <div class="panel panel-default">
        <div class="panel-heading" ui-set="{'myAccordion': 1}">
            <h4 class="panel-title">
                Attribute
            </h4>
        </div>
        <div ui-if="myAccordion == 1">
            <div class="panel-body">
                <div class="row list-group ">
                    <div ng-repeat="att in characterDetail.characterDetails.attributes">
                        <div class="col-sm-2 col-sm-offset-0 col-xs-4">
                            <strong class="pull-left">{{att.name}}</strong>
                        </div>
                        <div class="col-xs-1">
                            {{att.level}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Akkordeon Skills-->
    <div class="panel panel-default"
         ng-repeat="(key,type) in {2:'Aktionsfähigkeit', 3:'Wissensfähigkeit', 4:'Sprache'}">
        <div class="panel-heading" ui-set="{'myAccordion': key } ">
            <h4 class="panel-title">
                {{type}}
            </h4>
        </div>
        <div ui-if="myAccordion == {{key}}">
            <div class="panel-body list-group ">
                <div class="row list-group-item"
                     ng-repeat="skill in characterDetail.characterDetails.skills | filter:type">
                    <div class="col-sm-2 col-sm-offset-0 col-xs-4">
                        <strong class="pull-left">{{skill.name}}</strong>
                    </div>
                    <div class="col-xs-1">
                        {{skill.level}}
                    </div>
                    <div class="col-xs-5 col-sm-3" ng-if="skill.specializations">
                        <div class="row" ng-repeat="spec in skill.specializations">
                            <div class="col-sm-6 col-sm-offset-0 col-xs-8">
                                <strong class="pull-left">{{spec.name}}</strong>
                            </div>
                            <div class="col-xs-1">
                                {{spec.level}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>