<div ng-show="skills.loading" class="list-group-item list-group-item-home">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
    <span class="sr-only">Loading...</span>
</div>
<div ng-show="skills.skills.code==401" class="list-group-item list-group-item-home">
    <h1 ng-hide="skills.loading">
        Bitte Log dich zuerst ein.
    </h1>
</div>

<div ng-hide="skills.skills.code" ng-repeat="skill in skills.skills" class="list-group-item list-group-item-home" ng-click="skills.editSkill(skill)">
    <h1>{{skill.name}}
        <small>{{ skill.attribute.name}}<i class="fa fa-pencil pull-right"></i></small>
    </h1>
</div>

<div ng-hide="skills.loading" class="list-group-item list-group-item-home" ng-click="skills.editSkill([])">
    <h1>
        Neue Fähigkeit hinzufügen. <small><i class="fa fa-plus pull-right"></i></small>
    </h1>
</div>

<div ng-show="skills.edit" class="list-group-item list-group-item-home">
    <form class="form-inline" name="skillForm"
          ng-submit="skillForm.$valid && skills.submitForm()" novalidate>
        <label for="skill.name">Skill</label><input type="text" id="skill.name" ng-model="skills.edit.name">

        <label for="skill.attribute">Attribut</label>
        <select id="skill.attribute" ng-model="skills.edit.attribute" ng-options="attribute.name for attribute in skills.attributes">

        </select>
        <input type="submit" class="btn btn-info" value="Speichern">
    </form>
</div>