<div ng-show="skills.loading" class="list-group-item list-group-item-home">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
    <span class="sr-only">Loading...</span>
</div>
<div ng-show="skills.error.code==401" class="list-group-item list-group-item-home">
    <h1 ng-hide="skills.loading">
        Bitte Log dich zuerst ein.
    </h1>
</div>

<div ng-hide="skills.error.code" ng-show="skills.skills.length" ng-repeat="skill in skills.skills | orderBy: ['type.id', 'name']" ng-animate="'animate'"
     class="list-group-item list-group-item-home" ng-click="skills.editSkill(skill)">
    <h1>{{skill.name}}
        <small>{{ skill.attribute.name}}<i class="fa fa-pencil pull-right"></i></small>
    </h1>
</div>

<div ng-hide="skills.loading || skills.error.code" class="list-group-item list-group-item-home" ng-click="skills.editSkill([])">
    <h1>
        Neue Fähigkeit hinzufügen. <small><i class="fa fa-plus pull-right"></i></small>
    </h1>
</div>

<div ng-show="skills.currentlyEditedSkill" class="list-group-item list-group-item-home">
    <form class="form-inline" name="skillForm"
          ng-submit="skillForm.$valid && skills.submitForm()" novalidate>
        <label for="skill.name">Skill</label><input type="text" id="skill.name" ng-model="skills.currentlyEditedSkill.name">

        <label for="skill.attribute">Attribut</label>
        <select id="skill.attribute" ng-model="skills.currentlyEditedSkill.attribute" ng-options="attribute.name for attribute in skills.attributes">

        </select>
        <label for="skill.type">Typ</label>
        <select id="skill.type" ng-model="skills.currentlyEditedSkill.type">
            <option value="1">Aktionsfähigkeit</option>
            <option value="2">Wissensfähigkeit</option>
            <option value="3">Sprache</option>
        </select>
        <input type="submit" class="btn btn-info" value="Speichern">
    </form>
</div>